.main {
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    img {
      width: 100%;
      height: 223px;
      object-fit: cover;
    }
  }

  .gallery {
    width: 100%;
    height: auto;
    border-radius: 25px;
    background: #f6f6f6;
    margin-top: 43px;
    margin-bottom: 50px;
    padding-top: 56px;
    padding-bottom: 56px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
  }

  .error-title p {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 288px;
    font-weight: 700;
    margin-top: 139px;
    margin-bottom: 139px;
  }

  .error-description p {
    color: #ff6060;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 500;
    margin: 0;
    text-align: center;
  }

  .error-link {
    margin-top: 139px;
    margin-bottom: 139px;
    a {
      color: black;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      font-family: Montserrat;
      text-decoration-skip-ink: none;
    }
  }

  .carrousel {
    position: relative;
    width: 100%;
    height: 415px;
    overflow: hidden;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 30px;

    .carrousel-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }

    .logement-image {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    .carrousel-btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background-color: rgba(0, 0, 0, 0);
      color: white;
      border: none;
      padding: 10px;
      cursor: pointer;
      z-index: 10;
      font-size: 100px;

      &.prev-btn {
        left: 10px;
      }

      &.next-btn {
        right: 10px;
      }
    }

    .carrousel-indicator {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      color: white;
      padding: 5px 10px;
      border-radius: 5px;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
    }
  }
}

@media (min-width: 767.99px) and (max-width: 939px) {
  .main .banner h1 {
    font-size: 37px;
  }
}

@media (min-width: 320px) and (max-width: 767.98px) {
  header {
    padding-left: 0;
    .navbar {
      width: 100%;

      .navbar__logo img {
        width: 145px;
        object-fit: cover;
      }
      .liens a {
        font-size: 12px;
      }
    }
  }
  .main {
    padding-left: 20px;
    padding-right: 20px;
    .gallery {
      width: 100%;
      height: auto;
      border-radius: 25px;
      background: white;
      padding: 0;
      gap: 20px;
      margin-top: 22px;
      margin-bottom: 27px;
      padding-left: 20px;
      padding-right: 20px;
      .card {
        width: 100%;
        height: 255px;

        h2 {
          top: 150px;
        }
      }
    }

    .banner {
      justify-content: flex-start;
      width: 100%;
      img {
        object-fit: cover;
        width: 100%;
        height: 111px;
        border-radius: 10px;
      }
      h1 {
        padding-left: 16px;
        font-size: 24px;
        max-width: 62%;
      }
    }
    .error-title p {
      font-size: 96px;
      margin-top: 113px;
      margin-bottom: 113px;
    }
    .error-description p {
      font-size: 18px;
    }

    .error-link {
      margin-top: 113px;
      margin-bottom: 113px;
      a {
        font-size: 14px;
      }
    }
  }
}
