.main {
  .collapses {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1023px;
    gap: 28px;
    margin-top: 38px;
    margin-bottom: 36px;
    .collapse {
      display: flex;
      justify-content: space-between;
      background-color: #ff6060;
      border-radius: 5px;
      font-family: Montserrat;
      font-size: 24px;
      font-weight: 700;
      color: white;
      padding: 10px 20px 10px 15px;
      p {
        margin: 0;
      }
      .collapse-arrow {
        transition: transform 0.3s ease;
      }
      .collapse-arrow.open {
        transform: rotate(-180deg);
      }
    }
    .collapse-description {
      background: #f6f6f6;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 400;
      padding: 15px;
      line-height: 25.67px;
    }
    .collapse-description-wrapper {
      overflow: hidden; /* Cache le contenu lorsqu'il est fermé */
      height: 0;
      transform: scaleY(0);
      transform-origin: top;
      transition: height 0.3s ease, transform 0.3s ease;
    }

    .collapse-description-wrapper.open {
      height: auto; /* Ajuste la hauteur automatiquement en fonction du contenu */
      transform: scaleY(1);
    }
  }
}

@media (min-width: 320px) and (max-width: 767.98px) {
  .main {
    .collapses {
      gap: 20px;
      margin-top: 19px;
      margin-bottom: 19px;
    }
    .collapse-wrapper .collapse {
      padding: 10px;
      .collapse-title {
        font-size: 13px;
      }
      .collapse-arrow {
        width: 16px;
      }
    }
    .collapse-description-wrapper.open .collapse-description {
      font-size: 12px;
      line-height: 18px;
      padding: 10px;
    }
  }
}
